.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.product-card {
  margin-top: 0.3em;
  cursor: pointer;
}
.product-card:hover{
  background-color: #000;
  color: white;
  transition: 500ms;
}
.bottomka{
  font-size: 3em;
  padding: 0.3em;
}
.bottomka img{
  cursor: pointer;
}
.pad-10{
  padding: 10px;
}
.mtop-10{
  margin-top: 10px;
}
.marginex{
  margin-bottom: 200px;
}
